.mainbox {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 600px;
    height: 600px;
  }
  
  .mainbox > * {
    flex: 1;
  }
  
  .y {
    display: flex;
  }
  
  .y > * {
    flex: 1;
  }